.add-city {
  z-index: 99;
  background-color: rgba(59, 68, 96, 1);
  position: fixed;
  max-width: 1024px;
  top: 0;
  width: 100%;

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container {
  width: 100%;
  padding: 0 20px;
  &.details {
    background: linear-gradient(to right, #3b4460, #556a77);
    animation: gradientAnimation 0.1s linear infinite;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

header {
  nav {
    display: flex;
    color: white;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

span {
  font-weight: 600;
}

i {
  cursor: pointer;
  color: #fff;

  &:hover {
    color: #a9a9a9;
    transition: all 0.1s;
  }
}
